header{
    width:100vw;
    height: 100px;
    height: 10rem;
    background-image: url("./images/bg-header-desktop.svg");
    background-position: center;
    background-size: cover;
    background-color: #5da4a4;
}